#image{
    
    width: 100%;
    height: 700px;
}
/*
#diagram2{
    width: 600px;
    height: 50px;
}*/

#image2{
    
    width: 100%;
    height: 700px;
}

#image3{
    
    width: 100%;
    height: 700px;
}

#image4{
    
    width: 100%;
    height: 700px;
}

#image5{
    
    width: 100%;
    height: 700px;
}

#head{
    color: red;
}

#head2{
    color: rgb(255, 0, 187);
}

#head3{
    color: red;
}

#head4{
    color: red;
}
